{\load-library mc_foo-include.latte}
{\page {MC Foo - Authors}

 {\person \url=http://tv.debian.net/ 
          \name={Tommi Virtanen}
          \email=tv@debian.org}

 With thanks to {\person \name={Kim Lassila} \email=kl@tuug.fi}, who
 did his part of the original C/perl/shell implementation.

}
