{\load-library mc_foo-include.latte}
{\page {MC Foo - Authors}

 {\person \name={Kim Lassila}
          \email=kl@tuug.fi}

 {\person \url=http://hq.yok.utu.fi/ 
          \name={Tommi Virtanen}
          \email=tv@hq.yok.utu.fi}

Currently, Tv is working on profiles and the song queue, while
Kim will work on interaction with the mp3 player (as soon as he
gets his computer to actually work;).
}
