{\load-library mc_foo-include.latte}
{\page {MC Foo - Authors}

 {\person \name={Kim Lassila}
          \email=kl@tuug.fi}

 {\person \url=http://hq.yok.utu.fi/ 
          \name={Tommi Virtanen}
          \email=tv@hq.yok.utu.fi}

 Who does what is still uncertain. \;TODO
}
