{\load-library mc_foo-include.latte}
{\page {MC Foo Links - related pages}

 {\list
  {{\url \href=http://www.jwz.org/gronk/ gronk} by jwz -- pretty nice
  web frontend}
  {{\url \href=http://fsinfo.cs.uni-sb.de/~columbus/lirc/index.html 
    Lirc} is the infrastructure for using infrared remote controllers}
  {{\url \href=http://www.fasta.fh-dortmund.de/users/andy/irmp3/
    IRMP3} is an IR- & LCD-targeted mp3 server}
  {{\url \href=http://www.bitchx.org/bytor/mms.html Matt's MP3 Selector}
   is a monolithic curses-based mp3 player with some redeeming qualities}
  {{\url \href=http://www.melrose.k12.mn.us/rabrant/ NowPlaying!}
   has a dry homepage, but the freshmeat description tells us:
   {\blockquote
    Now Playing! is meant for those of you who have several
    computers networked, and want one central 'MP3 Server.' You upload
    songs and it generates a playlist, plays the music, then deletes the
    mp3 off the server. If the playlist is empty, it times out. After too
    many timeouts, it loads a default playlist.}}
  {{\url \href=http://www.homepages.de/dirk.b@dialup.nacamar.de/rdj/
    Remote Disk Jockey} is a smallish perl script with a telnet interface}
  {{\url \href=http://www.enteract.com/~tqbf/sss.html Sooloo Scroopt}
   is "An Intelligent Programmable MP3 Playlist Manager", you define
   genres (with regexps) and later tell what genres you want to listen to}
  {cosource.com {\url \href=http://www.cosource.com/cgi-bin/cos.pl/wish/info/352 
		 request} with good ideas}
  {{\url \href=http://www.giantdisc.com/ GiantDisc}, a GPLed Palm frontend
   to Linux mp3 player.}
  }

}
